* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: Consolas;
  font-size: 1.2em;
  font-size: 1.2rem;
  font-weight: 400;
  /*background: #2F003F;*/
  /*background: linear-gradient(0.12turn, #550072, #0b0b0b, #2F003F, #0b0b0b, #550072);*/
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  color: white;
}

.centered-text {
	text-align: center;
}

.main {
	color: #eeb;
}

h1, h2 {
	color: white;
}

h2 {
	padding-left: 3%;
}

.fixed-background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: url(../assets/darktower.jpeg) no-repeat center;
	background-size: cover;
	z-index: -1;
	filter: hue-rotate(-110deg) brightness(0.3);
}

.header-image {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	background-image: url("../assets/header.png");
	z-index: -1;*/
	display: block;
	position: relative;
	margin: 4% auto 3% auto;
	/*width: 16%;*/
	width: 200px;
	border-radius: 100px;
}

a {
	text-decoration: none;
}

.link-block {
	display: flex;
	border: 2px solid white;
	width: 100%;
	margin: 2% 0;
	background-color: transparent;
	transition: background-color 0.2s, color 0.2s;
}

.link-block:hover {
	background-color: white;
	color: #2F003F;
}

.link-logo {
	position: absolute;
	width: 10%;
	margin: 1%;
}

.link-text {
	position: relative;
	width: 100%;
	padding: 3%;
}

/* ----------- OVERWRITING VUEPAGES ----------- */

.header > p {
	margin-top: 50%;
}

.header {
	padding-bottom: 2%;
	background-size: cover;	
	background-image: url("../assets/header.png");
}
